.page{
    position: relative;
    
    padding: min(60px, 8vw) !important;
    min-height: 100%;
    min-width: 100%;

    box-sizing: border-box;
}

@media (max-width:500px){
    .page{
        padding-left: min(30px, 4vw) !important;
        padding-right: min(30px, 4vw) !important;
    }
}